<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:fragment="head">

    <title>IT Service - Lilihammer</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta name="language" content="en" />
    <meta name="keywords" content="services, computer" />
    <meta name="description" content="Informations about computer digital services" />

    <link rel="icon" type="image/x-icon"  href="../img/favicon.ico"
    	th:href="@{/img/favicon.ico}" />    
          
         
          <link rel="stylesheet" th:href="@{/css/style.css}"
	     href="../../css/style.css"  media="screen" />
   
</head>
<body>

</body>
</html>