<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragments/headerinc :: head"></th:block> 
</head>   
  
<body>
	<div id="inhalt">	
		<div id="logo">
			<img src="../static/img/logo2.png"
			        th:src="@{img/logo2.png}"/>
		     <br/>                                            
		     <a>IT - Lilihammer S/A</a>
	   	</div>
	   	
	 	<div id="coreclean">
           <h1>Page is not found.</h1>
           <h1 th:text="${errorCode}">404</h1>
           <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
           <h2>Oops, You've encontred an error</h2>
           <h3>It appears the page you were looking for doesn't exist. Sorry about that.</h3>
           <a href="/index" th:href="@{/}">Back to Home Page</a>
     	</div>
  	</div>  	
</body>
</html>